.fc .fc-button-primary{
    background-color: #D1BB9E !important;
    border: none;
}

.fc-daygrid-day-number{
    color: black;
    text-decoration: none;
}

.fc-col-header-cell-cushion {
    color: black !important;
    text-decoration: none;
}

.fc th{
    color: brown;
}