.title{
    height: 180px;
    display: flex;
    align-items: center;
}


.profileTitle{
    font-size: 22px;
}
.profile-content{
    flex-direction: column;
    max-height: 900px;
}

.profile{
    padding-bottom: 50px;
}

.settings{
   display: flex;
   flex-direction: row;
   padding-top: 50px;
}


.meldingen h2{
    color: #252525;
    border-bottom: 1px solid #252525;
    font-size: 20px;
}
.unsub{
    margin-top: 0px !important;
    margin-right: 50px;
}


@media screen and (min-width: 786px) {
    .profile-content{
      flex-direction: row;
    }
    .calendar{
        width: 70%;
    }
    .settings{
        flex-direction: column;
        padding-top: 0;
    }
    .meldingen{
        padding-left: 0;
        padding-top: 150px;
    }
    
}